.bg {
    position: "absolute";
    z-index: -1;
    top: 0;
    left: 0;
    background-color: gray;
}

.body{
    margin-top: 4rem;
    position: relative;
    min-height: 100%;
}

.page {
    overflow: hidden;
    min-height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: white;
    box-shadow: inset 1px 2px 5px 1px #c8c8c8;
    
}
.page h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.page h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.page h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
.page p{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.page img,video{
    width: 80%;
    
}
.introduction {
    color: gray;
    font-style: italic;
    border-left: 5px solid rgb(167, 167, 167);
    /* box-shadow: 1px 1px 2px 1px #c8c8c8; */
    padding:0.2rem 1rem 0.2rem 1rem;
    /* background-color: #fdfbfb; */
    font-family: 'Courier New', Courier, monospace;
    
}
.description {
    color: gray;
    font-weight: 300;
    font-style: italic;
    align-content: center;
}